.body {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.effect_wrapper {
  position: relative;
  width: 400px;
  height: 400px;
}

.effect_wrapper .layer1,
.effect_wrapper .layer2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}

.effect_wrapper .layer1,
.effect_wrapper .layer1 * {
  background: rgba(0, 0, 255, 0.1);
  /*border-radius:10px;*/
}

.effect_wrapper .layer2,
.effect_wrapper .layer2 * {
  background: rgba(0, 0, 0, 0.1);
  /*border-radius:10px;*/
}

.effect_wrapper .layer1 *,
.effect_wrapper .layer2 * {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  width: 80%;
  height: 80%;
}

/* --------- Animation --------- */
.effect_wrapper .layer1,
.effect_wrapper .layer1 * {
  animation-name: spin-clockwise;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.82, 0.24, 0.25, 0.75);
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.3);
}

.effect_wrapper .layer2,
.effect_wrapper .layer2 * {
  animation-name: spin-counter-clockwise, pulsate-blue;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.82, 0.24, 0.25, 0.75);
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.3);
}

/* Animation: Clockwise */
@keyframes spin-clockwise {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

/* Animation: Counter counter clockwise */
@keyframes spin-counter-clockwise {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

/* Animation: Counter counter clockwise */
@keyframes pulsate-blue {
  0% {
    background: rgba(0, 0, 255, 0.1);
  }
  100% {
    background: rgba(255, 255, 255, 0.1);
  }
}
