.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.773);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.container {
  width: 80%;
  height: 500px;
  background-color: white;
  border-radius: 8px;
}
.container h1 {
  text-align: center;
  font-size: 2rem;
}
.gridModal {
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 20px;
}
.gridModal button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 8px;
  height: 300px;
  width: 90%;
  font-size: 2rem;
}
.gridModal button:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.grids {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 20px;
  overflow: hidden;
  background-color: black;
  padding: 20px;
}
.grids div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border: 1px solid black;
  background-color: white;
  color: black;
  font-size: 1.2rem;
  border-radius: 8px;
}

.sections {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.sections div {
  width: 90%;
  height: fit-content;
  padding: 10px;
  border: 1px solid black;
  border-radius: 8px;
  margin-top: 30px;
  cursor: pointer;
  padding-bottom: 20px;
  padding-top: 20px;
}
.image {
  display: inline-block;
  border-radius: 5px;
  vertical-align: middle;
}
.level {
  display: inline-block;
  vertical-align: middle;

  margin-left: 10px;
  height: 70px;
}
.level h1 {
  font-size: 1.7rem;
  line-height: 0px;
}
.level h2 {
  line-height: 0px;
  font-size: 0.9rem;
}
